@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');
body{
  background: #2f363e;
}

/*  Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

/* Container Styles */
  .container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

/* Time Section Styles */
  #time {
    display: flex;
    gap: 40px;
    color: #fff;
  }

/* Circle Styles */
  #time .circle {
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* SVG Styles */
  #time .circle svg {
    position: relative;
    width: 150px; 
    height: 150px; 
    transform: rotate(270deg); 
  }

  #time .circle svg circle {
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke: #191919;
    stroke-width: 4px;
    transform: translate(5px, 5px);
  }

  .pink {
    --color: #ff2972;
  }
  
  .yellow {
    --color: #fee800;
  }
  
  .green {
    --color: #04fc43;
  }

  #time .circle svg circle:nth-child(2) {
  stroke: var(--color);
  stroke-dasharray: 440;
}

/*  Text and Labels */
#time div {
  position: absolute;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
}

#time div span {
  position: absolute;
  transform: translate(-50%, 0px);
  font-size: 0.5rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

#time .ap {
  position: relative;
  font-size: 1rem;
  transform: translate(-20px);
}

#time #weekday{
  transform: translate(0px, 100px);
}

/*  Dots Styling */
.dots {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  z-index: 10;
}

.dots::before {
  content: '';
  position: absolute;
  top: -3px;
  width: 15px;
  height: 15px;
  background: var(--color);
  border-radius: 50%;
  box-shadow: 0 0 20px var(--color), 0 0 60px var(--color);
}

.alarm {
  position: relative;
}

.alarm-button {
  position: absolute;
  top: 300px;  /* Adjust as necessary */
  right: -440px;  /* Adjust as necessary */
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transform: translateY(-2px);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.alarm-button img {
  width: 50px;  /* Set size here */
  height: 50px;
  filter: invert(100%);  /* Make the icon white */
}